/* HTML Elements */
body {
    text-align: center;
}

a {
    color: white;
}
a:hover {
    text-decoration: none;
}

/* Custom Classes */
.dark-gray-colored {
    background-color: #393B44;
    color: white;
}

.light-gray-colored {
    background-color: #8D93AB;
    color: white;
}

.baby-blue-colored {
    background-color: #D6E0F0;
    color: #393B44;
}

.center {
    text-align: center;
}

/* Bootstrap Components */
.container-fluid {
    padding: 7% 15%;
}

/* Title Section */
#title {
}

.title-bar {
    padding: 0 0 10%;
}

.title-name {
    font-size: 3rem;
    font-weight: 100;
    color: white;
}

.title-description {
    font-size: 1rem;
    font-weight: 100;
    color: white;
}

.title-text {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 25px;
}

.title-img {
    width: 80%;
    border-radius: 15%;
}

/* Services Section */
/* #services {
    text-align: left;
} */

.service-list {
    margin-bottom: 10%;
}

.service-icon {
    margin-bottom: 25px;
}

/* Footer Section */
.social-media-icon {
    padding: 16px;
}

/* Media Queries */
@media (min-width: 768px) {

    /* Title Section */
    #title {
        text-align: left;
    }
}

@media (max-width: 767px) {

    /* Bootstrap Components */
    .container-fluid {
        padding: 5% 15%;
    }

    /* Title Section */
    /* .title-text {
        font-size: 2rem;
        font-weight: 700;
    } */

}